
/*======================
    404 page
=======================*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}


a {
		-moz-transition: transform 0.2s ease, border-bottom-color 0.2s ease, color 0.2s ease;
		-webkit-transition: transform 0.2s ease, border-bottom-color 0.2s ease, color 0.2s ease;
		-ms-transition: transform 0.2s ease, border-bottom-color 0.2s ease, color 0.2s ease;
		display: inline-block;
		transition: transform 0.2s ease, border-bottom-color 0.2s ease, color 0.2s ease;
		text-decoration: none;
		color: #585858;
		border-bottom: dotted 0px rgba(88, 88, 88, 0.5);
	}

		a:hover {
			border-bottom-color: transparent;
			color: #585858 !important;
			transform: scale(1) !important;
		}
