/* Write CSS Here */
body {
    text-align: center;
    background: #000000;
}

p {
color: #FFFFFF;
}

#board {
  max-width: 90vw;
  max-height: 90vh;
  display: block;
  margin: 0 auto;
}

canvas {
  touch-action: none;
}

